*{
  font-family: 'Poppins', sans-serif;
}
p{
  margin: 0;
}
:root {
  --primary-color: #0f9d58;
  --backgound-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7a;
  --white: #ffffff;
}
body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
.navbar-default{
  padding: 15px;
  background-color: var(--backgound-color);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}
.navbar-brand{
  font-weight: 700;
  font-size: 20px;
  color: var(--primary-color) !important;
  
}
.navbar-nav li{
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  /* padding:5px; */
}
.navbar-nav li:hover{
  background-color: var(--primary-color);
  border-radius: 15px;
  color: white !important;
}
#home{
  margin-top: 77px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgound-color);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}
.slogan{
  color: var(--primary-color);
}
.title_customer{
  color: var(--primary-color);

}
#customer{
  height: 90vh;
  background-color: var(--backgound-color);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  
}
.customer_top {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 30px;
  
}
.customer_top img{
  border-radius: 30px;
  margin-bottom: 10px;
}
.customer_top-name{
  font-size: 20px;
  font-weight: 600;
}
.btn_des{
  margin-bottom: 20px;
}
.title_customer{
  margin: 20px;
  margin-bottom: 30px;
}



/* .active_nav{
  background-color: var(--primary-color);
  border-radius: 15px;
} */